
/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');


body {
    font-family: 'Tahoma', sans-serif;
    padding-top: 30px;
    margin:0 auto;
    background-color: white;
    /* overflow-x: hidden; */
}


/* setting up the container for the forms */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding-top: 100px;
    align-items:center;
    background-color: white;
}

.grid-item {
        display: grid;
        align-items: center;
        justify-items: center;
        border-radius: 10px;
        border-color: black;
        background-color: lightblue;
        border-style:solid;
      }

.flex-box {


}
