
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="application/x-www-form-urlencoded"/>
    <title>Homework 2</title>
</head>

<form method="POST" action="">
    {% csrf_token %}
    Username: <input type="text" name="username" placeholder="Enter Username"/><br>
    Password: <input type="text" name="password" placeholder="Enter Password"/><br>
    <input type="submit" name="registration" placeholder="Register"/>
</form>

<form method="POST" action="">
    {% csrf_token %}
    Username: <input type="text" name="user" placeholder="Enter Username"/><br>
    <input type="submit" name="song_retrieval" placeholder="Retrieve Songs"/>
</form>

{% if type == "registration" %}
    {% if error %}
        <p>{{ error }}</p>
    {% elif success %}
        <p>{{ success }}</p>
    {% endif %}

{% elif type == "song_retrieval" %}
    {% if error %}
        <p>{{ error }}</p>
    {% elif ratings %}
       {% for rating in ratings %}
            <p>{{ rating }}</p>
        {% endfor %}
    {% endif %}
{% endif %}
